<mat-card class="addi-card">
    <mat-card-title>Add Income</mat-card-title>
    <br>
    <mat-card-content>
   
      <form (ngSubmit)="onValidCreateIncome()" [formGroup]="incomeForm" >
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Enter your title"  [(ngModel)]="addIncome.title" formControlName="title" name="title" [disabled]="isSubmitting" >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="incomeForm.get('title')?.hasError('required')" >Title is required</mat-error>
        <!-- <mat-error  *ngIf="title.untouched && title.invalid">Title is required</mat-error> -->
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Enter your Description" [(ngModel)]="addIncome.description" formControlName="description" name="description"  >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="incomeForm.get('description')?.hasError('required')" >Description is required</mat-error>
      </mat-form-field>

      

      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Amount</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0"  [(ngModel)]="addIncome.amount" name="amount" formControlName="amount"  >
        <span matPrefix>&#8377;&nbsp;</span>
        <span matSuffix>.00</span>
        <mat-error *ngIf="incomeForm.get('amount')?.hasError('required')">
          Amount is required.
        </mat-error>
        <mat-error *ngIf="incomeForm.get('amount')?.hasError('min')">
          Amount must be greater than 0.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker"   [(ngModel)]="addIncome.date" name="date"  formControlName="date" >
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker" >
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="incomeForm.get('date')?.hasError('required')">
          Date is required.
        </mat-error>
      </mat-form-field>
      <br><br>
     <button mat-stroked-button color="primary" [disabled]="incomeForm.invalid" >Submit</button>
     &nbsp;&nbsp;
     <button mat-stroked-button color="warn" type="reset" >Cancel</button>
    </form>
    </mat-card-content>

    



  </mat-card>
